@use "../global" as *;

.hero-card {
  transition: box-shadow $animation-duration $animation;

  &:is(:hover, :focus-within) {
    box-shadow: 0 50px 50px rgba(0, 0, 0, 0.25);

    & .hero-card__btn {
      color: transparent;

      &::after {
        opacity: 1;
        transform: translateY(-50%) translateX(30%);
        color: $color-text-secondary;
      }
    }
  }


}

.hero-card__link {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr;
  justify-items: center;
  height: 100%;
  min-height: rem(470px);
  max-width: rem(370px);
  background-color: $color-card-primary;

  @media screen and (min-width: $screen-md) {
    min-height: rem(570px);
  }
}

.hero-card__content {
  padding-top: rem(20px);
  padding-bottom: rem(20px);
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: rem(22.5px);
  text-align: center;

  @media screen and (min-width: $screen-md) {
    padding-top: rem(40px);
    padding-bottom: rem(40px);
    row-gap: rem(45px);
  }
}

.hero-card {
  font-family: "Museo Cyrl", sans-serif;
  font-size: rem(25px);
  line-height: 1em;
  font-weight: 700;
  color: $color-text-primary;
}

.hero-card__btn {
  position: relative;
  padding: rem(20px);
  width: rem(130px);
  height: rem(50px);
  font-family: "Open Sans", sans-serif;
  font-size: rem(14px);
  line-height: 1em;
  font-weight: 600;
  color: $color-text-secondary;
  background-color: $color-secondary;
  border-radius: 3px;

  &::after {
    content: attr(data-hover-text);
    position: absolute;
    left: 0;
    top: 50%;
    white-space: nowrap;
    opacity: 0;
    transform: translateY(20px) translateX(25%);
    transition: all 0.3s ease;
  }
}
