@use "../global" as *;

.hero-card {
  transition: box-shadow $animation-duration $animation;

  &:is(:hover, :focus-within) {
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.25);

    & .hero-card__btn {
      color: transparent;

      &::after {
        transform: translateY(-50%) translateX(30%);
        opacity: 1;
        visibility: visible;
        color: $color-text-secondary;
      }
    }
  }
}

.hero-card__link {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr;
  justify-items: center;
  height: 100%;
  min-height: 470px;
  max-width: 370px;
  background-color: $color-card-primary;

  @media screen and (min-width: $screen-md) {
    min-height: 570px;
  }
}

.hero-card__content {
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 22.5px;
  text-align: center;

  @media screen and (min-width: $screen-md) {
    padding-top: 40px;
    padding-bottom: 40px;
    row-gap: 45px;
  }
}

.hero-card {
  font-family: "Museo Cyrl", sans-serif;
  font-size: 25px;
  line-height: 1em;
  font-weight: 700;
  color: $color-text-primary;
}

.hero-card__btn {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 130px;
  height: 50px;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  line-height: 1em;
  font-weight: 600;
  color: $color-text-secondary;
  background-color: $color-secondary;
  border-radius: 3px;
  transition: color $animation-duration $animation;

  &::after {
    content: attr(data-hover-text);
    position: absolute;
    top: 50%;
    left: 0;
    white-space: nowrap;
    opacity: 0;
    visibility: hidden;
    transform: translateY(10px) translateX(30%);
    transition:
      transform $animation-duration $animation,
      opacity $animation-duration $animation,
      visibility $animation-duration $animation;
  }
}
