@use "../global" as *;
@use "./ideas-card";

.ideas {
  padding-top: 80px;
}

.ideas__container {
  row-gap: 20px;

  @media screen and (min-width: $screen-md) {
    row-gap: 35px;
  }

  @media screen and (min-width: $screen-xl) {
    row-gap: 70px;
  }
}

.ideas__cards {
  display: grid;
  justify-items: center;
  align-items: stretch;
  grid-template-columns: repeat(1, 1fr);
  gap: 20px;
  width: 100%;

  @media screen and (min-width: $screen-md) {
    grid-template-columns: repeat(2, 1fr);
    gap: 25px;

    & *:last-child:nth-child(odd) {
      grid-column: span 2;
    }
  }

  @media screen and (min-width: $screen-xl) {
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;

    & *:last-child:nth-child(odd) {
      grid-column: auto;
    }
  }
}
