@use "../global" as *;
@use "./price-card";

.price {
  position: relative;
  // padding-top: 80px;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -5;
    background-image: url("../img/bg.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
}

.price__container {
  row-gap: 30px;

  @media screen and (min-width: $screen-md) {
    row-gap: 60px;
  }
}

.price__cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 40px;
  width: 100%;
}
