@use "../global" as *;

.price-card {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;

  @media screen and (min-width: $screen-xxl) {
    flex-direction: row;
  }
}

.price-card__img-container {
  position: relative;
  top: 0;
  right: 0;
}

.price-card__content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  row-gap: 10px;
  padding: 50px;
  max-width: 480px;
  max-height: 370px;
  background-color: $color-card-primary;
}

.price-card__title {
  font-family: "Museo Cyrl", sans-serif;
  font-size: 25px;
  line-height: 2.4em;
  font-weight: 700;
}

.price-card__text {
  padding-bottom: 10px;
  font-size: 14px;
  line-height: 1.25em;
}

.price-card__btn {
  padding: 20px 30px;
  min-width: 130px;
  font-size: 14px;
  text-transform: uppercase;
  color: $color-text-secondary;
  background-color: $color-primary;
  border-radius: 3px;
}

.price-card__price {
  display: flex;
  flex-direction: column;
  row-gap: 5px;
  margin-bottom: 20px;
  line-height: 1.25em;
}

.price-card__categories {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  align-items: center;
  gap: 30px;
  padding: 15px;
  padding-bottom: 25px;
  min-height: 430px;
  width: 100%;
  color: $color-card-primary;
  background-color: $color-price-bg;

  @media screen and (min-width: $screen-md) {
    grid-template-columns: repeat(2, 1fr);
    padding-top: 35px;
    padding-bottom: 30px;
    padding-left: 55px;
    padding-right: 35px;
    height: 430px;
  }

  @media screen and (min-width: $screen-lg) {
    max-width: 690px;

  }
}

.price-card__category {
  display: grid;
  justify-items: center;
  align-items: start;
  grid-template-rows: auto 1fr;
  gap: 15px;
}

.price-card__category-container {
  width: 100%;

  @media screen and (min-width: $screen-lg) {
    &:nth-child(odd) {
      min-width: 294px;
    }

    &:nth-child(even) {
      min-width: 270px;
    }
  }
}

.price-card__img-heel {
  transform: translateY(-10px);
}

.price-card__category-img-container {
  display: flex;
  align-items: flex-end;
  min-height: 136px;
}

.price-card__category-content {
  display: flex;
  justify-content: center;
  font-size: 20px;
  line-height: 1em;
  text-align: center;
}

.price-card__category-title {
  &::after {
    content: "-";
    margin: 0 5px;
  }
}

.price-card__category-price {
  font-weight: 700;
  &::after {
    content: "j";
    font-family: "ALSRubl", sans-serif;
    font-weight: 400;
    margin-left: 5px;
  }
}
