@use "./global" as *;
@use "base/root" as *;

// styles for scripts and animations
@use "base/state";

.wrapper-1170 {
  max-width: 1170px;
}

.section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-bottom: 40px;

  @media screen and (min-width: $screen-md) {
    padding-bottom: 60px;
  }
  @media screen and (min-width: $screen-xl) {
    padding-bottom: 80px;
  }
}

.section__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.section__title {
  padding: 0 10px;
  font-family: "Museo Cyrl", sans-serif;
  font-size: 38px;
  line-height: 1em;
  font-weight: 700;
  text-align: center;
  color: $color-text-primary;

  &--hightlighted {
    color: $color-primary;
  }
}



.section__text {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  line-height: 1.3em;
  color: $color-text-primary;
}

.card__link {
  color: inherit;
  text-decoration: none;
}
