<div class="hero">
  <div class="hero__container wrapper-1170">
    <h1 class="hero__title">Отделка балконов и лоджий</h1>
    <div class="hero__cards">
      @@include('./_hero-card.html', {
        "title": "Внутренняя отделка",
        "btn-link": "#",
      })
      @@include('./_hero-card.html', {
        "title": "Внешняя отделка",
        "btn-link": "#",
      })
      @@include('./_hero-card.html', {
        "title": "Утепление балкона",
        "btn-link": "#",
      })
    </div>
  </div>
</div>
