<section class="hero section">
  <div class="hero__container section__container wrapper-1170">
    <h1 class="hero__title section__title">Отделка балконов и лоджий</h1>
    <ul class="hero__cards">
      @@include('./_hero-card.html', {
        "img": "1",
        "title": "Внутренняя отделка",
        "link": "#",
      })
      @@include('./_hero-card.html', {
        "img": "2",
        "title": "Внешняя отделка",
        "link": "#",
      })
      @@include('./_hero-card.html', {
        "img": "3",
        "title": "Утепление балкона",
        "link": "#",
      })
    </ul>
  </div>
</section>
