<div class="hero">
  <div class="hero__container wrapper-1170">
    <h1 class="hero__title">Отделка балконов и лоджий</h1>
    <div class="hero__cards">
      @@include('./_hero-card.html', {
        "img": "1",
        "title": "Внутренняя отделка",
        "link": "#",
      })
      @@include('./_hero-card.html', {
        "img": "2",
        "title": "Внешняя отделка",
        "link": "#",
      })
      @@include('./_hero-card.html', {
        "img": "3",
        "title": "Утепление балкона",
        "link": "#",
      })
    </div>
  </div>
</div>
