<li class="ideas-card card">
  <a class="card__link" href="@@link" aria-label="Заказать @@title" tabindex="0">
    <figure class="ideas-card__content">
      <div class="ideas-card__img-container">
        <picture>
          <source
            srcset="./img/ideas-@@img.png"
            media="(min-width: 1170px)"
            width="370"
            height="240"
          />
          <img
            src="./img/ideas-@@img.png"
            alt="@@title"
            class="ideas-card__img img"
            width="370"
            height="240"
          />
        </picture>
      </div>
      <figcaption class="ideas-card__title">
        @@title
      </figcaption>
      <span class="ideas-card__btn" data-hover-text="Подробнее" role="button" >Заказать</span>
    </figure>
  </a>
</li>
