<section class="ideas section">
  <div class="ideas__container section__container wrapper-1170">
    <h2 class="ideas__title section__title">Идеи по отделке балконов и лоджий</h2>
    <ul class="ideas__cards">
      @@include('./_ideas-card.html', {
        "img": "1",
        "title": "Кабинет на балконе",
        "link": "#",
      })
      @@include('./_ideas-card.html', {
        "img": "2",
        "title": "Хранение вещей",
        "link": "#",
      })
      @@include('./_ideas-card.html', {
        "img": "3",
        "title": "Зона отдыха",
        "link": "#",
      })
      @@include('./_ideas-card.html', {
        "img": "4",
        "title": "Оранжерея на лоджии",
        "link": "#",
      })
      @@include('./_ideas-card.html', {
        "img": "5",
        "title": "Лоджия в стиле Лофт",
        "link": "#",
      })
      @@include('./_ideas-card.html', {
        "img": "6",
        "title": "В едином стиле",
        "link": "#",
      })
      @@include('./_ideas-card.html', {
        "img": "7",
        "title": "Расширение полезной площади",
        "link": "#",
      })
      @@include('./_ideas-card.html', {
        "img": "8",
        "title": "Примерка на лоджии",
        "link": "#",
      })
      @@include('./_ideas-card.html', {
        "img": "9",
        "title": "Гардеробная комната на лоджии",
        "link": "#",
      })
    </ul>
  </div>
</section>
