<aside class="installment">
  <div class="installment__container section__container wrapper-1170">
    <div class="installment__content">
      <h2 class="installment__title section__title">
        <span>Рассрочка</span><span class="no-wrap">на 6 месяцев</span>
      </h2>
      <div class="installment__links">
        <a href="#" class="installment__link link">Узнать подробности</a>
        <a href="#" class="installment__link link">Я хочу рассрочку</a>
      </div>
    </div>
    <ul class="installment__conditions">
      <li class="installment__condition">
        <span class="installment__condition-nums">0%</span
        ><span class="installment__condition-text">переплата</span>
      </li>
      <li class="installment__condition">
        <span class="installment__condition-nums">6</span
        ><span class="installment__condition-text">месяцев</span>
      </li>
      <li class="installment__condition">
        <span class="installment__condition-nums no-wrap">1<sub>ая</sub></span
        ><span class="installment__condition-text">выплата через месяц</span>
      </li>
    </ul>
  </div>
</aside>
