<li class="options-card card">
  <div class="options-card__img-container">
    <picture class="options-card__img img">
      @@if (wide === false) {
      <source
        srcset="./img/options-@@img.png"
        media="(min-width: 1170px)"
        width="386"
        height="450"
      />
      <source
        srcset="./img/options-@@img.png"
        media="(min-width: 768px)"
        width="347.4"
        height="405"
      />
      <img
        src="./img/options-@@img.png"
        alt="@@title"
        class="options-card__img img"
        width="308.8"
        height="360"
      />
      } @@if (wide === true) {
      <source
        srcset="./img/options-@@img.png"
        media="(min-width: 1170px)"
        width="582"
        height="300"
      />
      <source
        srcset="./img/options-@@img.png"
        media="(min-width: 768px)"
        width="523.8"
        height="270"
      />
      <img
        src="./img/options-@@img.png"
        alt="@@title"
        class="options-card__img img"
        width="465.6"
        height="240"
      />
      }
    </picture>
  </div>
  <div class="options-card__content">
    <h2 class="options-card__title">@@title</h2>
    <p class="options-card__text">@@text</p>
    <a
      class="options-card__btn btn card__link"
      href="@@link"
      aria-label="Заказать @@title"
      tabindex="0"
      >Заказать</a
    >
    <p class="options-card__price">
      Цена от
      <span class="no-wrap">
        <span class="options-card__price-value">@@price</span>
        <span class="options-card__price-currency" aria-hidden="true">j</span
        >/м2
      </span>
    </p>
  </div>
</li>
