<a class="options-card" href="@@link">
  <div class="options-card__img-container">
    <picture class="options-card__img img">
      @@if (wide === false) {
      <source
        srcset="./img/options-@@img.png"
        media="(min-width: 1170px)"
        width="386"
        height="450"
      />
      }
      @@if (wide === true) {
      <source
        srcset="./img/options-@@img.png"
        media="(min-width: 1170px)"
        width="582"
        height="300"
        />
      }
      <img
        src="./img/options-@@img.png"
        alt="@@title"
        class="options-card__img img"
      />
    </picture>
  </div>
  <div class="options-card__content">
    <h2 class="options-card__title">@@title</h2>
    <p class="options-card__text">@@text</p>
    <p class="options-card__btn btn">Заказать</p>
    <p class="options-card__price">
      Цена от
      <span class="no-wrap">
        <span class="options-card__price-value">@@price</span>
        <span class="options-card__price-currency">j</span>/м2
      </span>
    </p>
  </div>
</a>
