<section class="params section">
  <div class="params__container section__container wrapper-1170">
    <h2 class="params__title section__title">
      Параметры отделки:
      <span class="section__title--hightlighted">цена за кв.метр</span>
    </h2>
    <ul class="params__cards">
      <li class="params-card card">
        <div class="params-card__img-container">
          <picture>
            <source
              srcset="./img/params-1.png"
              media="(min-width: 1170px)"
              width="310"
              height="310"
            />
            <img
              src="./img/params-1.png"
              alt=""
              class="params-card__img img"
              width="310"
              height="310"
            />
          </picture>
        </div>
        <h3 class="params-card__title">Отделка стен</h3>
        <ul class="params-card__list">
          <li class="params-card__item">
            <span class="params-card__service">Деревянная вагонка, класс-А</span
            ><span class="params-card__price no-wrap">2900</span>
          </li>
          <li class="params-card__item">
            <span class="params-card__service">Деревянная вагонка, класс Экстра</span
            ><span class="params-card__price no-wrap">3750</span>
          </li>
          <li class="params-card__item">
            <span class="params-card__service">Вагонка ПВХ</span
            ><span class="params-card__price no-wrap">2250</span>
          </li>
          <li class="params-card__item">
            <span class="params-card__service">Панелями МДФ</span
            ><span class="params-card__price no-wrap">2150</span>
          </li>
          <li class="params-card__item">
            <span class="params-card__service">Панелями ПВХ</span
            ><span class="params-card__price no-wrap">2350</span>
          </li>
          <li class="params-card__item">
            <span class="params-card__service">Панелями ламинированными</span
            ><span class="params-card__price no-wrap">3400</span>
          </li>
        </ul>
      </li>

      <li class="params-card card">
        <div class="params-card__img-container">
          <picture>
            <source
              srcset="./img/params-2.png"
              media="(min-width: 1170px)"
              width="310"
              height="310"
            />
            <img
              src="./img/params-2.png"
              alt=""
              class="params-card__img img"
              width="310"
              height="310"
            />
          </picture>
        </div>
        <h3 class="params-card__title">Устройство пола</h3>
        <ul class="params-card__list">
          <li class="params-card__item">
            <span class="params-card__service">Фанера</span
            ><span class="params-card__price no-wrap">3650</span>
          </li>
          <li class="params-card__item">
            <span class="params-card__service">Доска строганная</span
            ><span class="params-card__price no-wrap">3650</span>
          </li>
          <li class="params-card__item">
            <span class="params-card__service">Линолеум</span
            ><span class="params-card__price no-wrap">2360</span>
          </li>
          <li class="params-card__item">
            <span class="params-card__service">Ламинатот</span
            ><span class="params-card__price no-wrap">3150</span>
          </li>
          <li class="params-card__item">
            <span class="params-card__service">Керамическая плитка, работа</span
            ><span class="params-card__price no-wrap">2300</span>
          </li>
          <li class="params-card__item">
            <span class="params-card__service">Ламинат AQUA-STEP</span
            ><span class="params-card__price no-wrap">8150</span>
          </li>
        </ul>
      </li>

      <li class="params-card card">
        <div class="params-card__img-container">
          <picture>
            <source
              srcset="./img/params-3.png"
              media="(min-width: 1170px)"
              width="310"
              height="310"
            />
            <img
              src="./img/params-3.png"
              alt=""
              class="params-card__img img"
              width="310"
              height="310"
            />
          </picture>
        </div>
        <h3 class="params-card__title">Отделка пола</h3>
        <ul class="params-card__list">
          <li class="params-card__item">
            <span class="params-card__service">Деревянная вагонка, класс-А</span
            ><span class="params-card__price no-wrap">2900</span>
          </li>
          <li class="params-card__item">
            <span class="params-card__service">Деревянная вагонка, класс Экстра</span
            ><span class="params-card__price no-wrap">3750</span>
          </li>
          <li class="params-card__item">
            <span class="params-card__service">Вагонка ПВХ</span
            ><span class="params-card__price no-wrap">2250</span>
          </li>
          <li class="params-card__item">
            <span class="params-card__service">Панелями МДФ</span
            ><span class="params-card__price no-wrap">2150</span>
          </li>
          <li class="params-card__item">
            <span class="params-card__service">Панелями ПВХ</span
            ><span class="params-card__price no-wrap">2350</span>
          </li>
          <li class="params-card__item">
            <span class="params-card__service">Панелями ламинированными</span
            ><span class="params-card__price no-wrap">3400</span>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</section>
