<li class="price-card card">
  <div class="price-card__content">
    <h2 class="price-card__title">Отделка "@@title"</h2>
    <p class="price-card__text">@@text</p>
    <p class="price-card__price">
      <span>
        <span class="text--bold">Стоимость:</span>
        <span class="no-wrap">
          <span class="text--hightlighted text--bold">@@price руб. кв.м.*</span>
        </span>
      </span>
      <span>*Цена за материалы и работы</span>
    </p>
    <a
      class="price-card__btn btn card__link"
      href="@@link"
      aria-label="Заказать @@title"
      tabindex="0"
      >Заказать</a
    >
  </div>
  <!-- <div class="price-card__img-container">
    <picture class="price-card__img img">
      <source
        srcset="./img/price-@@img.png"
        media="(min-width: 1170px)"
        width="690"
        height="430"
      />
      <img
        src="./img/price-@@img.png"
        alt="@@title"
        class="price-card__img img"
        width="690"
        height="430"
      />
    </picture>
  </div> -->
  <ul class="price-card__categories">
    <li class="price-card__category-container">
      <figure class="price-card__category">
        <div class="price-card__category-img-container"><img src="./img/price-loggia.png" alt="" class="price-card__category-img"  width="245" height="125"/></div>
        <figcaption class="price-card__category-content">
          <span class="price-card__category-title">Лоджия</span
          ><span class="price-card__category-price">@@priceLoggia</span>
        </figcaption>
      </figure>
    </li>
    <li class="price-card__category-container">
      <figure class="price-card__category">
        <div class="price-card__category-img-container"><img src="./img/price-heel.png" alt="" class="price-card__category-img price-card__img-heel" width="238" height="122" /></div>
        <figcaption class="price-card__category-content">
          <span class="price-card__category-title">Каблук</span
          ><span class="price-card__category-price">@@priceHeel</span>
        </figcaption>
      </figure>
    </li>
    <li class="price-card__category-container">
      <figure class="price-card__category">
        <div class="price-card__category-img-container"><img src="./img/price-p-balcony.png" alt="" class="price-card__category-img"  width="245" height="124"/></div>
        <figcaption class="price-card__category-content">
          <span class="price-card__category-title">П-образный балкон</span
          ><span class="price-card__category-price">@@pricePBalcony</span>
        </figcaption>
      </figure>
    </li>
    <li class="price-card__category-container">
      <figure class="price-card__category">
        <div class="price-card__category-img-container"><img src="./img/price-corner-balcony.png" alt="" class="price-card__category-img"  width="250" height="136"/></div>
        <figcaption class="price-card__category-content">
          <span class="price-card__category-title">Угловой балкон</span
          ><span class="price-card__category-price">@@priceCornerBalcony</span>
        </figcaption>
      </figure>
    </li>
  </ul>
</li>
