<section class="price section">
  <div class="price__container section__container wrapper-1170">
    <h1 class="price__title section__title">Цены на виды отделки</h1>
    <ul class="price__cards">
      @@include('./_price-card.html', {
        "img": "1",
        "title": "Эконом",
        "link":"#",
        "price": "2500",
        "priceLoggia": "52 500",
        "priceHeel": "62 500",
        "pricePBalcony": "33 500",
        "priceCornerBalcony": "44 500",
        "text": "Бюджетный вариант работ, в который входит внутренняя отделка балкона или лоджии вагонкой ПВХ.",
      })
      @@include('./_price-card.html', {
        "img": "2",
        "title": "Стандарт",
        "link": "#",
        "price": "3500",
        "priceLoggia": "77 700",
        "priceHeel": "96 200",
        "pricePBalcony": "49 500",
        "priceCornerBalcony": "68 000",
        "text": "Отделочные декоративные работы. Вариант включает в себя утепление в 1 слой тепофолом, обшивка парапета, стен и потолка ламинированными панелями ПВХ, а также укладка ламината на пол.",
      })
      @@include('./_price-card.html', {
        "img": "3",
        "title": "Комфорт",
        "link": "#",
        "price": "4500",
        "priceLoggia": "147 000",
        "priceHeel": "182 000",
        "pricePBalcony": "94 500",
        "priceCornerBalcony": "124 500",
        "text": "Комплексные отделочные работы. Вариант включается в себя работы по подготовке стен: грунтовка, шпаклевка, покраска парапета, стен и потолка, а также укладка плитки на пол.",
      })
    </ul>
  </div>
</section>
