@font-face {
  font-display: swap;
  font-family: "Museo Cyrl";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/museo-cyrl-700.otf") format("opentype");
}

@font-face {
  font-display: swap;
  font-family: "Museo Cyrl";
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/museo-cyrl-900.otf") format("opentype");
}

@font-face {
  font-display: swap;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/OpenSans-Regular.ttf") format("truetype");
}

@font-face {
  font-display: swap;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/OpenSans-Bold.ttf") format("truetype");
}

@font-face {
  font-display: swap;
  font-family: "ALSRubl";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/alsrubl.otf") format("opentype");
}
